*{
    margin:0;
    padding:0;
}
body{
    
    text-align: center;
    background: linear-gradient(to bottom right, violet,
    rgb(156, 70, 218),rgb(194, 194, 235),rgb(45, 178, 45),
    rgb(217, 217, 33),rgb(228, 164, 45), rgb(222, 58, 58));
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10vh;
    color: rgb(16, 98, 231);
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3);
    font-size: 8vmin;
    color: #0838f89e;
    background: linear-gradient(to right, violet,
    rgb(156, 70, 218),rgb(194, 194, 235),rgb(45, 178, 45),
    rgb(217, 217, 33),rgb(228, 164, 45), rgb(222, 58, 58));
}
#reset_btn{
    padding: 1.5rem;
    font-size: 1.25rem;
    background-color: #0a0a0a;
    color: azure;
    border-radius: 3rem;

}
#new_btn{
    background-color: #0a0a0a;
    color: azure;
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 1rem;
    border: none;
}

#msg{
    font-size: 10vh;
    color: rgb(16, 98, 231);
}

#msg_container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
}

.hide{
    display: none;
}